<section>
  <nav-bar>
    <nav-bar>
</section>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Wod Name</span>
<textarea rows='4' cols='50' style="background-color: transparent" type="text" placeholder="Wod Name">
</textarea>
</label>
  <label class="item item-input item-floating-label">
    <span class="input-label">About</span>
<textarea rows='4' cols='50' style="background-color: transparent" type="text" placeholder="Description">
</textarea>
 </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Recomended Weight</span>
    <textarea rows='4' cols='50' style="background-color: transparent" type="text" placeholder="RX">
    </textarea>
  </label>
</div>
<button class="button button-block button-calm">
  ADD WOD
</button>
