<section ng-click="closeModal()">
  <nav-bar>
    <nav-bar>
</section>
<ion-content>
<ion-modal-view class="space">
  <div class="bar bar-header bar-energized">
    <div class="title">Editing Mode</div>
  </div>

  <br>
  <h1>{{wod.name}} - {{wod.date | date: 'MMM /d /y'}}</h1>
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Wod Name</span>
      <input ng-model="wod.name" type="text" placeholder="{{wod.name}}">
    </label>
    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date" ng-model="wod.date">
    </label>
    <!-- <label class="item item-input item-stacked-label">
      <span class="input-label">edit date</span>
      <input ng-model="wod.date" type="text" placeholder="{{wod.date | date: 'MMM /d /y'}}">
    </label> -->
    <label class="item item-text-area item-stacked-label">
      <span class="input-label">Edit Description</span>
      <textarea ng-model="wod.description" rows='4' cols='50' style="background-color: transparent" type="text" placeholder="{{wod.description}}"></textarea>
    </label>

  <label class="item item-text-area item-stacked-label">
    <span class="input-label">Edit RX</span>
    <textarea ng-model="wod.rx" rows='4' cols='50' style="background-color: transparent" type="text" placeholder="{{wod.rx}}"></textarea>
  </label>

<label class="item item-text-area item-stacked-label">
  <span class="input-label">Edit Warm-Up</span>
  <textarea ng-model="wod.warmup" rows='4' cols='50' style="background-color: transparent" type="text" placeholder="{{wod.warmup}}"></textarea>
</label>

<label class="item item-text-area item-stacked-label">
  <span class="input-label">Edit Tips</span>
  <textarea ng-model="wod.tips" rows='4' cols='50' style="background-color: transparent" type="text" placeholder="{{wod.tips}}"></textarea>
</label>
</div>

  <button ng-click="updateWod(wod); showAlert(); closeModal()" class="button button-block button-positive">
    edit wod
  </button>
  <button ng-click="closeModal()" class="button button-block button-positive">
    cancel
  </button>
</ion-modal-view>
</ion-content>
