

<div class="list space">
  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input ng-model='user.username' type="text" placeholder="username">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input ng-model='user.password' type="password" placeholder="Password">
  </label>
</div>


<button ng-click="login(user)" class="button button-block button-calm">
  Sign In
</button>
<button ui-sref="signUp" class="button button-block button-positive">
  Sign Up
</button>



<!-- <button class="button button-outline button-positive">
  Sign Up
</button> -->
