

<section>
  <nav-bar>
    <nav-bar>
</section>

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input type="text" placeholder="username">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="Password">
  </label>

<br>
<button class="button button-block button-calm">
  Sign In
</button>
<br>
<p>
  <a ui-sref="signUp"> Not a User? Sign up </a>
</p>

<!-- <button class="button button-outline button-positive">
  Sign Up
</button> -->
