
  <div class="navi" id="navi">


    <ul>
<div class="">
  <button ng-click='togNav()' class="button icon c-hamburger c-hamburger--htx">
    <span>toggle menu</span>
  </button>

  <li class="settingNav">
    BoxWod

  <button ng-hide="goNav" ui-sref='settings' class="button icon ion-gear-a"></button>

</li>

</div>

<div class="">
  <li ng-click="togNav()" ng-hide="goNav"><a ui-sref="wod">WOD</a></li>
  <li ng-click="togNav()" ng-hide="goNav"><a ui-sref="home">Home</a></li>
  <li ng-click="togNav()" ng-hide="goNav"> <a ui-sref="user">Profile</a></li>

</div>
    </ul>
  </div>
