<section>
  <nav-bar>
  </nav-bar>
</section>
<ion-content class="space">


<ul class="list">

  <li class="item item-toggle">
     Admin
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Alert
     <label class="toggle toggle-calm">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
      Something
       <label class="toggle toggle-royal">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

</ul>

<button ng-click='logOut()' class="button button-block button-assertive">
  Sign Out
</button>
