
<section>
  <nav-bar>
  </nav-bar>
</section>

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input type="text" placeholder="Username">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="Password">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="@Email">
  </label>
</div>
<button class="button button-block button-calm">
  Sign Up
</button>
