
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Name</span>
    <input type="text" ng-model="newUser.name" placeholder="Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input type="text" ng-model="newUser.username" placeholder="Username">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input ng-model="newUser.password" type="password" placeholder="Password">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="email" ng-model="newUser.email" placeholder="@Email">
  </label>
</div>




    <button ng-click="signUp(newUser);" class="button button-block button-positive">
      Sign Up
    </button>
