<section>
  <nav-bar><nav-bar>
</section>
<ion-content class="space">

<h1>{{currentUser.username}}</h1>

<div class="list">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text" ng-model="user.username">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password" ng-model="user.password">
  </label>
</div>

<button ui-sref='settings' class="button icon ion-gear-a"></button>



<button class="button button-clear button-positive" type="button" name="button" ng-click="addNewUser(user)">
Add
</button>

<button class="button button-clear button-positive" type="button" name="button" ng-click="getUsers(user)">
  Get Users
</button>
</ion-content>
