
<section >
  <nav-bar>
    <nav-bar>
</section
<ion-content ng-model='admin'>

  <ion-modal-view class="space">
    <div class="list card">
      <a ng-click="closeWodModal()" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

      <div class="item item-avatar">

        <h1>{{wod.name}}</h1>
        <p class="h2 subdued">{{wod.date | date: 'EEEE'}} - {{wod.date | date: 'MMM/ d/ y'}}</p>
      </div>

      <div class="item item-body">
        <p>
          <h2 class="h2 subdued ">Description</h2> <div class="body-text">
{{wod.description}}
          </div>
        </p>
      </div>
      <div class="item item-body">
        <p>
          <h2 class="h2 subdued">RX</h2> {{wod.rx}}
        </p>
      </div>
      <div class="item item-body">
        <p>
          <h2 class="h2 subdued">Warm-Up</h2> {{wod.warmup}}
        </p>
      </div>
      <div class="item item-body">
        <p>
          <h2 class="h2 subdued">Tip</h2> {{wod.tips}}
        </p>
      </div>
      <div class="item item-body">
        <p>
          <a href="#" class="subdued">{{wod.likes.length}} Likes</a>
          <a href="#" class="subdued">{{wod.comments.length}} Comments</a>
        </p>
          <ion-list>
                <ion-item ng-repeat='stuff in wod.comments track by $index' show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">

                  <h2>{{stuff.user.username}}</h2>
                  <h2>- {{stuff.comment}}</h2>



              <ion-option-button class="button-positive" ng-model="admin " ng-click="deleteComment(stuff._id); removeAlert(stuff.comment)">
                Remove
              </ion-option-button>

            </ion-item>

        <div ng-hide='custom' class="item item-input item-floating-label">
          <span class="input-label subdued" >Post comment..</span>

          <textarea ng-model="newComment" style="background-color: transparent" placeholder="add comment" type="text"></textarea>
          <button type="button" ng-click="postComment(currentUser._id, wod._id, newComment)" class="button button-calm">
            Submit
          </button>
          <button type="button" ng-click="postLike(currentUser._id, wod._id, newLike)" class="button button-stable">
            Like
          </button>

        </div>

    <ion-list>


  </ion-modal-view>
</ion-content>
