
  <section>
    <nav-bar>
    </nav-bar>
  </section>

<ion-content class="space" >


  <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">


    <ion-item ng-model="admin" ng-click="editWod(wod._id); openModal(wod)" ng-repeat="wod in allWods | orderBy:'-date'" class="item-thumbnail-left wodList">
      <!-- <img ng-src="{{item.img}}"> -->
      <div class="wodText">
        <h3 >{{wod.date | date: 'EEEE'}} - {{wod.date | date: 'MMM/ d/ y'}}</h3>
        <h1 >{{wod.name}}</h1>
      </div>

      <ion-option-button class="button-positive" ng-model="admin " ng-click="removeWod(wod._id); removeAlert(wod.name)">
        Remove
      </ion-option-button>

      <ion-option-button class="button-info" ng-click="editWod(wod._id); openModal(wod)">
        Edit
      </ion-option-button>

    </ion-item>

  </ion-list>
</ion-content>


<section ng-if='admin' ng-click="showFooter()">
  <div class="bar bar-footer bar-balanced" ui-sref="addWod">
    <div class="title"><a> ADD + <a/></div>
  </div>
</section>

















<!--FAN  -->
