@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Nova+Square);

body{
  background-image: url("../img/dumbs.jpg");

}

.ion-content{
  background-image: url("../img/signin.png");
  background-color:  transparent;

}
.item-content{
  background-color:  none;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
.item-complex{
  background-color:  transparent;
}
.body-text{
  white-space: pre-line;

}
.login{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;;
}
.login h1{
  font-size: 80px;
  font-family: 'Nova Square';
  border-bottom: solid black 5px;
}
.button icon ion-gear-a{
  float: right;
  min-width: 30px;
  min-height: 30px;
}
.moveTheDamnBurger{

  position: absolute;
  top: 0;
  left:0;
}
.stayTheFHere{

  position: absolute;
  top: 10px;
  left: 35%;

}
.all-wods-header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/saracover.jpg");
  background-position: 20% 25%;
}
.all-wods-header h1, h2{
  color: white;
  font-family: 'Quicksand', sans-serif;

}
.closeComment{
  min-width: 30px;
  min-height: 30px;
  background-color: transparent;
}
.settingNav{
  float: right;
  margin-right: 20px;
}
.wodText .top-boxwod{
  background-color: transparent;
}
.wodText h2, .wodText h1{
  color: white;
   /*text-shadow:
   -.25px -.25px 0 #000,
   .25px -.25px 0 #000,
   -.25px .25px 0 #000,
   .25px .25px 0 #000;*/
   font-family: 'Quicksand', sans-serif;
}
.wodText h1{
  color: white;
   /*text-shadow:
   -.25px -.25px 0 #000,
   .25px -.25px 0 #000,
   -.25px .25px 0 #000,
   .25px .25px 0 #000;*/
   font-family: 'Quicksand', sans-serif;
}
.wodText h2, h3{
  color: white;
   /*text-shadow:
   -.25px -.25px 0 #000,
   .25px -.25px 0 #000,
   -.25px .25px 0 #000,
   .25px .25px 0 #000;*/
   font-family: 'Quicksand', sans-serif;
}


.wodList .item-content{
  background-color: transparent;
}
.list .item h2{
  font-size: 25px;
  color: #B7B09D;
}
.list .item h3{
  font-size: 25px;
  color: #u;
}
.c-hamburger {
display: block;
position: relative;
overflow: hidden;
margin: 0;
padding: 0;
width: 75px;
height: 63px;
font-size: 0;
text-indent: -9999px;
appearance: none;
box-shadow: none;
border-radius: none;
border: none;
cursor: pointer;
transition: background 0.3s;
float: left;
}

.c-hamburger:focus {
outline: none;
}
.c-hamburger span {
display: block;
position: absolute;
top: 30px;
left: 18px;
right: 18px;
height: 4px;
background: white;
border-radius: 5px;
}

.c-hamburger span::before,
.c-hamburger span::after {
position: absolute;
display: block;
left: 0;
width: 100%;
height: 4px;
background-color: #fff;
content: "";
border-radius: 5px;

}

.c-hamburger span::before {
top: -13px;
}

.c-hamburger span::after {
bottom: -13px;
}
.c-hamburger--htx {
background-color: transparent;
}

.c-hamburger--htx span {
transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
transition-duration: 0.3s, 0.3s;
transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
transition-property: top, transform;
}

.c-hamburger--htx span::after {
transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
background-color: transparent;;
}

.c-hamburger--htx.is-active span {
background: none;
}

.c-hamburger--htx.is-active span::before {
top: 0;
transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
bottom: 0;
transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
transition-delay: 0s, 0.3s;
}
.settingsMove{
  position: absolute;
  right:0;
  top: 13px;
  margin-right: 5px;
}

.h2{
  font-size: 30px;
}
.space{
margin-top: 69px;
}

.list:last-child {
    margin-bottom: 46px;
}

.float-left{
  margin-right: 50px;
}
.user-top{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;;
  justify-content: space-around;
  width: 300px;
  height: 150px;
  margin-left: 60px;
}
.show-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 70px;
  margin-left: 60px;
}
.pr-box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 70px;
}
.pr-show{
  width: 140px;
  height: 70px;
  border: solid white 1px;
  border-bottom: none;
  border-left: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.pr-show .right{
  border-right: none;
}
.white-text h3{
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.white-text{
  color: white;
  font-family: 'Quicksand', sans-serif;
}
.user-pic{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.button{
color: white;
background-color: transparent;
}
#my-button{
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}
#navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.navi img{
  height: 65px;
  width: 74px;
  background-color: transparent;
  float: right;
  position: right relative;

}
.navi ul {
  list-style: none;
  background-color: rgba(78, 88, 98, 0.96);
  text-align: center;
  padding: 0;
  margin: 0;
  transition-delay: 0s, 0.3s;



}
.navi li {
  display: flex;
  justify-content: center;;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2.1em;
  line-height: 40px;
  height: 69px;
  border-bottom: .5px solid grey;
}

.navi a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
}

.navi a:hover {
  background-color: #6EBBC9;
  height: 69px;
  display: flex;
  justify-content: center;;
  align-items: center;

}

.navi a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/* MEDIA QUERY */

@media screen and (min-width: 600px) {
  .navi li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .navi li {
    display: inline-block;
    margin-right: -4px;
  }
